<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kathy.minidiary">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- This permission is necessary in order for Sunshine to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddDiaryActivity" android:parentActivityName=".MainActivity"  />

        <service android:name=".SimpleIntentService" />


        <provider
            android:name=".data.DiaryProvider"
            android:authorities="com.example.kathy.minidiary" />

        <!--Widget -->
        <receiver
            android:name=".NowWidgetProvider"
            android:label="@string/widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.kathy.minidiary.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_now" />
        </receiver>

        <service android:name=".NowWidgetIntentService" />

    </application>

</manifest>